node_modules
.next
out
dist
.turbo
.vercel
coverage

# env files
.env
.env.*.local

# Prisma SQLite db
prisma/dev.db
prisma/dev.db-journal

# local uploads (keep .gitkeep)
public/uploads/*
!public/uploads/.gitkeep

# misc
.DS_Store
*.log
